.side-drawer { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    box-shadow: -10px 0px 20px -5px grey;
 }

 .side-drawer.open {
    transform: translateX(0);
 }
 .is-column {
     flex-direction: column;
 }

 .sideDrawerColumn svg {
     margin: 0 15px;
 }

 .has-margin {
     padding: 10px 0;
     font-weight: 500;
     align-items: center;
     &:hover {
         opacity: .8;
         background-color: #e6e6e6;
     }   
 }

 @media only screen and (min-width: 768px) {
     .side-drawer {
         width: 25%;
     }
 }


 



 