.greenContainer {
    background-color: lightgreen;
}

.greenParagraph {
    text-align: center;
    padding: 0px 20px;
}

.greenParagraph p {
    font-size: 1.1rem;
    margin-top: -3px;
    font-family: 'Kalam', cursive;
}

.greenTitle {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.greenTitle h3 {
    font-family: 'Kalam', cursive;
}

.whiteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteContainer img {
    width: 170px;
}

.whiteContainer div {
    text-align: center;
    padding: 0px 3px;
}

.whiteContainer p {
    font-size: 1.1rem;
    font-family: 'Kalam', cursive;
}

.whiteContainer a {
    color: white;
    background-color: lightgreen;
    padding: 7px;
    border-radius: 15px;
    font-family: 'Kalam', cursive;
}

.whiteContainer h4 {
    font-family: 'Kalam', cursive;
}