@charset "utf-8";

$white: hsl(0, 0%, 100%);
$primary: $white;
.has-bg-img {
  background: url("https://i.imgur.com/so9hBbk.jpg") center center;
  background-size: cover;
}

// @import "../node_modules/bulma/sass/elements/title.sass";
