.homeWrapper {
    background: url('https://i.imgur.com/so9hBbk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 37vh;
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.innerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.innerTextContainer div {
    width: 50%;
    padding: 5px;
}

.startContainer {
    display: flex;
    justify-content: center;
}

.startContainer a {
    color: white;
    background-color: lightgreen;
    padding: 7px;
    border-radius: 15px;
}
// .text-container div {
//     display: flex;
//     justify-content: center;
//     width: 50%;
//     flex-wrap: wrap;
// }

.text-container h3, .text-container p {
    color: #def;
    font-size: 1rem;
}