.store {
    border: 1px solid green;
    margin: 3em 1em 0em 1em;
}
.product {
    // border: 1px solid red;
    padding: 1em;
    font-family: 'Oswald', sans-serif;
    // margin: .25em;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.store-title {
    // border: 1px solid red;
    // margin-top: 1em;
    padding-top: 1.5em;
    font-family: 'Permanent Marker', cursive;
}
.store-banner {
    margin: auto;
}
.store-image {
    width: 70%;
    max-height: 10px !important;
}

.black-text {
    color:black;
}