.store {
    border: 1px solid green;
    margin: 3em 1em 0em 1em;
}
.product {
    // border: 1px solid red;
    padding: 1em;
    font-family: 'Oswald', sans-serif;
    // margin: .25em;
}

.store-title {
    // border: 1px solid red;
    // margin-top: 1em;
    padding-top: 1.5em;
    font-family: 'Permanent Marker', cursive;
}