.table-container {
    // border: 1px solid red;
    margin: .5em;
    padding-top: 4em;
}
.table-container .image {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.image-col {
    width: 10%;
}
.title-col {
    width: 25%;
}
.price-col {
    width: 15%;
}
.button-col {
    width: 10%;
}.remove-col {
    width: 5%;
}
.total-col {
    width: 15%;
}
.cart-title {
    padding-top: 1em;
    font-family: 'Permanent Marker', cursive;
}
.cart-column th {
    text-align: center !important;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}
td {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    text-align: center !important;
    vertical-align: middle !important;
}
.cart-total-container {
    padding-top: 2em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    // border: 1px solid red;
}
.clear-button {
    padding-bottom: 1em;
}


@media only screen and (max-width: 600px) {
    .cart-column th {
        font-size: .9rem;
    }
}