.shop-modal { 
    // border: 1px solid red;
}

.modal-title-top {
    font-family: 'Permanent Marker', cursive;
}
.modal-title-bottom {
    font-family: 'Oswald', sans-serif;
}
.modal-button-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    // border: 1px solid red;
}

