@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";

$size-7: 20px;
$size-7-mobile: 20px;
$footer-padding: 1.5rem .75rem !default;

.footer {
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: $footer-padding;
    }
}



