.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  z-index: 100;
  padding-right: 2em;
  // box-shadow: 0 4px 2px -2px gray;
  // border-bottom: 1px solid gray;
  // position: sticky;
  // top: 0;
  // pointer-events: none;
}
.navbar-item:hover {
  background-color: #3199db !important;
  color: white !important;
  border-radius: 10px;
}

// Centers the navbar disable to have the position be start
.navbar-menu {
  flex-grow: 0 !important;
}

.socialMedia {
  margin-right: 5px;
}

.navbar-brand {
  align-items: center !important;
  margin: 0;
}

.logo {
  max-width: 400px !important;
  max-height: 400px !important;
}

.navbar-burger span {
    width: 25px !important;
    height: 2px !important;
}
// Import only what you need from Bulma
// @import "../../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../../node_modules/bulma/sass/base/_all.sass";
// @import "../../../node_modules/bulma/sass/elements/button.sass";
// @import "../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../node_modules/bulma/sass/layout/hero.sass";


@media only screen and (max-width: 1020px) {
  .navbar {
    padding: 1em;
    justify-content: flex-start;
  }
  .navbar {
    font-size: 1.5rem;
  }
  .sideDrawerColumn {
    height: 90vh !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  .is-flex {
    justify-content: center;
  }
  .navbar-brand {
    // border: 1px solid red !important;
    width: 100%;
  }
}