.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

// Centers the navbar disable to have the position be start
.navbar-menu {
  flex-grow: 0 !important;
}

.socialMedia {
  margin-right: 5px;
}

.navbar-brand {
  align-items: center !important;
}

.logo {
  max-width: 125px !important;
  max-height: 80px !important;
}

.navbar-burger span {
    width: 25px !important;
    height: 2px !important;
}
// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";


@media only screen and (max-width: 1020px) {
  .navbar {
    padding: 1em;
    justify-content: space-between;
  }
  .navbar-brand {
    // border: 1px solid red !important;
    width: 100%;
  }
}