.displayNone {
    display: none;
}

.messageContainer {
    flex-direction: column;
    border-bottom: 1px solid #c7bcbc;
    padding-bottom: 20px;
}

.plusMinus {
    margin-right: 20px;
}

.is-flex div {
    align-items: center;
}

@media screen and (max-width: 768px) {
    .plusMinus {
        width: 40px !important;
    }
}